<app-header></app-header>

<ion-content class="ion-padding">
	<ion-card mode="ios" color="primary">
		<ion-card-header>
			<ion-card-subtitle>Card Subtitle</ion-card-subtitle>
			<ion-card-title>Card Title</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a
			week in the woods. Wash your spirit clean.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-item color="primary">
			<ion-icon color="light" slot="start" name="pin"></ion-icon>
			<ion-label>Marcador</ion-label>
		</ion-item>

		<ion-card-content>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quas architecto ab provident quo
			consequuntur ad nostrum nisi. Magnam quod itaque nemo voluptatum ducimus deserunt maiores odio ipsam
			molestias sequi.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-img src="assets/shapes.svg"></ion-img>
		<ion-card-content
			>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni rerum, nemo assumenda voluptatem, ut a
			labore sequi eaque tenetur doloribus impedit sit? Veritatis facilis commodi magnam quibusdam temporibus
			cum molestias?</ion-card-content
		>
	</ion-card>
</ion-content>
